.slide-bg{
    background-color: #fceae8;
}
.price{
    color: #FF136F;
}
.carousel-item{
    padding: 30px 30px;
}
.buy-now{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.carousel{
    border-radius: 10px;
}
.container{
    margin-bottom: 100px;
}
.cat-1{
    background-image:linear-gradient(to right, rgb(172, 114, 5),orange) ;
    /* background-color: orange; */
    color: white;
    border-radius: 10px;
    
}
.cat-2{
    background-image:linear-gradient(to right, purple,rgb(244, 13, 244)) ;
    /* background-color: purple; */
    color: white;
    border-radius: 10px;
}
.cat-3{
    background-image:linear-gradient(to right,blue,rgb(85, 85, 249)) ;
    /* background-color: blue; */
    color: white;
    border-radius: 10px;
}
.cat-1,.cat-2,.cat-3{
    padding: 10px 30px;
}
.catagory img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#suscribe{
    height: 300px;
    border-radius: 10px;
}
input{
    margin-bottom: 10px;
}
#suscribe h6{
    color: rgba(109, 93, 93, 0.916);
}
footer{
    text-align: center;
    color: rgb(163, 143, 143);
}
h4{
    color: #FF136F;
}
.carousel-control-prev-icon{
    color: gray;
}


